.icon-close-btn-ie:before {
  display: block;
  background-image: url(../img/sprite.png);
  background-position: -310px -134px;
  width: 69px;
  height: 22px; }

.icon-close-btn:before {
  display: block;
  background-image: url(../img/sprite.png);
  background-position: -384px -134px;
  width: 69px;
  height: 22px; }

.icon-icons:before {
  display: block;
  background-image: url(../img/sprite.png);
  background-position: -91px -238px;
  width: 64px;
  height: 100px; }

.icon-msg-bg:before {
  display: block;
  background-image: url(../img/sprite.png);
  background-position: -310px 0px;
  width: 360px;
  height: 129px; }

.icon-prizes:before {
  display: block;
  background-image: url(../img/sprite.png);
  background-position: 0px -238px;
  width: 86px;
  height: 172px; }

.icon-wht-dialog-btn:before {
  display: block;
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 305px;
  height: 233px; }
